# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Romain Lecat
	email = romain@lecat.io
[push]
	default = simple
[color]
	ui = true
[commit]
	gpgsign = true
[core]
    mergeoptions = --no-edit
